workflows/image-extraction-workflow.json
{
  "name": "LG 이미지 추출 워크플로우",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "extract-images",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook - URL 입력 수신",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "extract-images"
    },
    {
      "parameters": {
        "jsCode": "// [LOG 1] 입력된 데이터 확인\nconst body = $input.first().json.body || $input.first().json;\nconst urls = body.urls || [];\n\nconsole.log('=== [LOG 1] URL 유효성 검증 시작 ===');\nconsole.log('받은 body:', JSON.stringify(body));\nconsole.log('URLs 배열:', JSON.stringify(urls));\nconsole.log('URL 개수:', urls.length);\n\nif (urls.length === 0) {\n  console.log('[ERROR] URL이 없습니다!');\n  return [{ json: { error: 'No URLs provided', images: [], log: 'No URLs' } }];\n}\n\n// 각 URL을 개별 아이템으로 반환\nconst items = urls.map((url, idx) => {\n  console.log(`[LOG 1-${idx+1}] URL ${idx+1}: ${url}`);\n  return { json: { url: url, urlIndex: idx + 1, totalUrls: urls.length } };\n});\n\nconsole.log('[LOG 1] 반환할 아이템 수:', items.length);\nreturn items;"
      },
      "id": "code-url-validation",
      "name": "URL 유효성 검증",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://r.jina.ai/{{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer jina_e90a05349b9d408ba753103fc390e6be4q7ooIixAWO0pPaMDg4DeHjDCME0"
            },
            {
              "name": "X-Return-Format",
              "value": "html"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-jina-fetch",
      "name": "Jina AI - 페이지 스크래핑",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// 이미지 URL 추출 - 개선된 버전\nconst items = $input.all();\nconst allImages = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const html = item.json.data || item.json.body || '';\n  const images = new Set();\n  \n  // 1. og:image 메타 태그\n  const ogMatch = html.match(/<meta[^>]*property=[\"']og:image[\"'][^>]*content=[\"']([^\"']+)[\"']/i);\n  if (ogMatch) {\n    images.add(ogMatch[1]);\n  }\n  \n  // 2. LG 갤러리 이미지 패턴 (medium01, medium-interior01 등)\n  const galleryPattern = /[\"'](https?:\\/\\/www\\.lge\\.co\\.kr\\/kr\\/images\\/[^\"']*\\/gallery\\/[^\"']+\\.(jpg|jpeg|png|webp))[\"']/gi;\n  let match;\n  while ((match = galleryPattern.exec(html)) !== null) {\n    images.add(match[1]);\n  }\n  \n  // 3. LG 제품 이미지 일반 패턴\n  const lgPatterns = [\n    /[\"'](https?:\\/\\/www\\.lge\\.co\\.kr[^\"']*\\.(jpg|jpeg|png|webp))[\"']/gi,\n    /[\"'](https?:\\/\\/static\\.lge\\.co\\.kr[^\"']*\\.(jpg|jpeg|png|webp))[\"']/gi,\n    /[\"'](\\/kr\\/images\\/[^\"']+\\.(jpg|jpeg|png|webp))[\"']/gi\n  ];\n  \n  for (const pattern of lgPatterns) {\n    while ((match = pattern.exec(html)) !== null) {\n      let imgUrl = match[1];\n      // 제외할 이미지 필터링\n      if (imgUrl.includes('icon') || imgUrl.includes('logo') || imgUrl.includes('btn') || \n          imgUrl.includes('sprite') || imgUrl.includes('banner') || imgUrl.includes('common')) {\n        continue;\n      }\n      // 상대 경로 처리\n      if (imgUrl.startsWith('/kr/')) {\n        imgUrl = 'https://www.lge.co.kr' + imgUrl;\n      }\n      images.add(imgUrl);\n    }\n  }\n  \n  // 각 URL에서 최대 5개씩 추출\n  const imageArray = Array.from(images).slice(0, 5);\n  allImages.push(...imageArray);\n}\n\n// 중복 제거 후 최대 10개\nconst uniqueImages = [...new Set(allImages)].slice(0, 10);\n\nreturn [{\n  json: {\n    images: uniqueImages,\n    count: uniqueImages.length,\n    extractedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-extract-images",
      "name": "이미지 URL 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "응답 반환",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook - URL 입력 수신": {
      "main": [
        [
          {
            "node": "URL 유효성 검증",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL 유효성 검증": {
      "main": [
        [
          {
            "node": "Jina AI - 페이지 스크래핑",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina AI - 페이지 스크래핑": {
      "main": [
        [
          {
            "node": "이미지 URL 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 URL 추출": {
      "main": [
        [
          {
            "node": "응답 반환",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "LG-Image-Service"
    }
  ]
}
