workflows/image-extraction-workflow.json
{
  "name": "LG 이미지 추출 워크플로우",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "extract-images",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook - URL 입력 수신",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "extract-images"
    },
    {
      "parameters": {
        "jsCode": "// 입력된 URL 배열 처리\nconst body = $input.first().json.body || $input.first().json;\nconst urls = body.urls || [];\n\nif (urls.length === 0) {\n  return [{ json: { error: 'No URLs provided', images: [] } }];\n}\n\n// 첫 번째 URL만 처리 (단순화)\nconst url = urls[0];\n\nif (!url || !url.startsWith('http')) {\n  return [{ json: { url: url, error: 'Invalid URL', images: [] } }];\n}\n\nreturn [{ json: { url: url } }];"
      },
      "id": "code-url-validation",
      "name": "URL 유효성 검증",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://r.jina.ai/{{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.JINA_API_KEY }}"
            },
            {
              "name": "X-Return-Format",
              "value": "html"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-jina-fetch",
      "name": "Jina AI - 페이지 스크래핑",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// HTML에서 이미지 URL 추출\nconst html = $input.first().json.data || $input.first().json.body || '';\n\n// URL 가져오기\nlet url = '';\ntry {\n  url = $('URL 유효성 검증').first().json.url || '';\n} catch(e) {\n  url = 'https://www.lge.co.kr';\n}\n\nconst images = new Set();\n\n// og:image 우선 추출\nconst ogMatch = html.match(/<meta[^>]*property=[\"']og:image[\"'][^>]*content=[\"']([^\"']+)[\"']/i);\nif (ogMatch) {\n  images.add(ogMatch[1]);\n}\n\n// LG 제품 이미지 패턴\nconst imgPatterns = [\n  /[\"'](https?:\\/\\/[^\"']*\\.lge\\.co\\.kr[^\"']*\\.(jpg|jpeg|png|webp)[^\"']*)[\"']/gi,\n  /[\"'](https?:\\/\\/[^\"']*\\.lg\\.com[^\"']*\\.(jpg|jpeg|png|webp)[^\"']*)[\"']/gi,\n  /[\"']([^\"']*\\/images\\/[^\"']+\\.(jpg|jpeg|png|webp)[^\"']*)[\"']/gi,\n  /[\"'](https?:\\/\\/[^\"']+\\.(jpg|jpeg|png|webp))[\"']/gi\n];\n\nfor (const pattern of imgPatterns) {\n  let match;\n  while ((match = pattern.exec(html)) !== null) {\n    let imgUrl = match[1];\n    if (!imgUrl.includes('icon') && !imgUrl.includes('logo') && !imgUrl.includes('btn') && !imgUrl.includes('sprite')) {\n      if (imgUrl.startsWith('//')) {\n        imgUrl = 'https:' + imgUrl;\n      }\n      images.add(imgUrl);\n    }\n  }\n}\n\nconst imageArray = Array.from(images).slice(0, 5);\n\nreturn [{\n  json: {\n    url: url,\n    images: imageArray,\n    count: imageArray.length,\n    extractedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-extract-images",
      "name": "이미지 URL 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "응답 반환",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook - URL 입력 수신": {
      "main": [
        [
          {
            "node": "URL 유효성 검증",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL 유효성 검증": {
      "main": [
        [
          {
            "node": "Jina AI - 페이지 스크래핑",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina AI - 페이지 스크래핑": {
      "main": [
        [
          {
            "node": "이미지 URL 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 URL 추출": {
      "main": [
        [
          {
            "node": "응답 반환",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "LG-Image-Service"
    }
  ]
}
