workflows/image-synthesis-workflow.json
{
  "name": "LG 이미지 합성 워크플로우",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "synthesize-image",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "synthesize-image"
    },
    {
      "parameters": {
        "jsCode": "// 입력 파라미터 추출 및 검증\nconst body = $input.first().json.body;\n\nconst prompt = body.prompt || '';  // 사용자 합성 명령\nconst images = body.images || [];   // 합성할 이미지 URL 배열\nconst apiProvider = body.apiProvider || 'gemini';  // 기본값: gemini\nconst sessionId = body.sessionId || 'default';\n\nconsole.log('=== [합성] 요청 수신 ===');\nconsole.log('프롬프트:', prompt);\nconsole.log('이미지 수:', images.length);\nconsole.log('API:', apiProvider);\n\n// 기본 스타일 추가\nconst styleAddition = 'Professional product photography, high resolution, studio lighting, clean background';\n\nreturn [{\n  json: {\n    prompt: prompt,\n    enhancedPrompt: `${prompt}. ${styleAddition}`,\n    images: images,\n    apiProvider: apiProvider,\n    sessionId: sessionId\n  }\n}];"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "요청 전처리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.apiProvider }}",
                    "rightValue": "gemini",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gemini"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.apiProvider }}",
                    "rightValue": "replicate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Replicate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.apiProvider }}",
                    "rightValue": "openai",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OpenAI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.apiProvider }}",
                    "rightValue": "stability",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Stability"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "API 분기",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $json.enhancedPrompt }}. Based on these product images, create a professional composite image.\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseModalities\": [\"image\", \"text\"],\n    \"responseMimeType\": \"image/png\"\n  }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.REPLICATE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"version\": \"black-forest-labs/flux-1.1-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $json.enhancedPrompt }}\",\n    \"aspect_ratio\": \"16:9\",\n    \"output_format\": \"png\",\n    \"output_quality\": 90\n  }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Replicate API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"dall-e-3\",\n  \"prompt\": \"{{ $json.enhancedPrompt }}\",\n  \"n\": 1,\n  \"size\": \"1792x1024\",\n  \"quality\": \"hd\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "OpenAI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stability.ai/v1/generation/stable-diffusion-xl-1024-v1-0/text-to-image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.STABILITY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text_prompts\": [\n    {\n      \"text\": \"{{ $json.enhancedPrompt }}\",\n      \"weight\": 1\n    }\n  ],\n  \"cfg_scale\": 7,\n  \"width\": 1344,\n  \"height\": 768,\n  \"samples\": 1,\n  \"steps\": 30\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Stability API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 650]
    },
    {
      "parameters": {
        "jsCode": "// 각 API 응답 표준화\nconst input = $input.first().json;\n\nconsole.log('=== [합성] 응답 정규화 시작 ===');\nconsole.log('받은 입력:', JSON.stringify(input).substring(0, 500));\n\nlet imageUrl = '';\nlet imageBase64 = '';\nlet apiProvider = 'gemini';\n\n// API provider 확인 시도\ntry {\n  const prepNode = $('요청 전처리');\n  if (prepNode && prepNode.first()) {\n    apiProvider = prepNode.first().json.apiProvider || 'gemini';\n  }\n} catch(e) {\n  console.log('요청 전처리 노드 참조 실패, 기본값 사용');\n}\n\nconsole.log('API Provider:', apiProvider);\n\nswitch(apiProvider) {\n  case 'gemini':\n    // Gemini 응답에서 이미지 추출\n    if (input.candidates && input.candidates[0]?.content?.parts) {\n      const parts = input.candidates[0].content.parts;\n      for (const part of parts) {\n        if (part.inline_data) {\n          imageBase64 = part.inline_data.data;\n          console.log('Gemini 이미지 추출 성공');\n          break;\n        }\n      }\n    }\n    break;\n    \n  case 'replicate':\n    // Replicate 응답에서 이미지 URL 추출\n    if (input.output) {\n      imageUrl = Array.isArray(input.output) ? input.output[0] : input.output;\n    } else if (input.urls?.get) {\n      imageUrl = input.urls.get;\n    }\n    break;\n    \n  case 'openai':\n    // OpenAI 응답에서 이미지 URL 추출\n    if (input.data && input.data[0]) {\n      imageUrl = input.data[0].url;\n    }\n    break;\n    \n  case 'stability':\n    // Stability AI 응답에서 이미지 추출\n    if (input.artifacts && input.artifacts[0]) {\n      imageBase64 = input.artifacts[0].base64;\n    }\n    break;\n}\n\nconst result = {\n  success: !!(imageUrl || imageBase64),\n  apiProvider: apiProvider,\n  imageUrl: imageUrl,\n  imageBase64: imageBase64 ? `data:image/png;base64,${imageBase64}` : '',\n  generatedAt: new Date().toISOString()\n};\n\nconsole.log('=== [합성] 응답 정규화 완료 ===');\nconsole.log('결과:', JSON.stringify({ ...result, imageBase64: result.imageBase64 ? '[BASE64_DATA]' : '' }));\n\nreturn [{ json: result }];"
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "응답 정규화",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "합성 결과 반환",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1380, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "요청 전처리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "요청 전처리": {
      "main": [
        [
          {
            "node": "API 분기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API 분기": {
      "main": [
        [
          {
            "node": "Gemini API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replicate API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stability API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API": {
      "main": [
        [
          {
            "node": "응답 정규화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replicate API": {
      "main": [
        [
          {
            "node": "응답 정규화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI API": {
      "main": [
        [
          {
            "node": "응답 정규화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stability API": {
      "main": [
        [
          {
            "node": "응답 정규화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "응답 정규화": {
      "main": [
        [
          {
            "node": "합성 결과 반환",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "LG-Image-Service"
    }
  ]
}
